{% extends "base.html" %}
{% block title%}Edit bullet{% endblock title%}

{% block content %}<br/>
  <div class="container d-flex justify-content-center">
    <div class="card " style="width: 50rem;">
      <div class="card-body ">
        <form method="POST" class="form-group">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary">Change</button>
          <a class="btn btn-danger" href="{% url 'delete_bullet' bullet.pk %}" >Delete</a>
        </form> 
      </div>  
    </div><br/>
  </div>
{% endblock %}