{% extends "base.html" %}
{% block title%} Single Gun{% endblock title%}



{% block content %}

  <div class="container" id="bullet-table"><br/>
    {% for gun in guns%}
      <h1>{{gun.gun}}</h1>
      <a class="btn btn-secondary btn-sm" href="{% url 'add_bullet' gun.pk%}">add bullet</a>
    {% endfor %}
    

  </div>

{% endblock %}

{% block scripts %}   
<script>

  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');


  var dataURL = '/api/gun/{{gun_id}}/' 
  $.ajax({
          method:'GET',
          url:dataURL,
          success:function(response){
              gun = response
              console.log(gun)
              for (var bullet of gun.bullets){
                addTable(bullet)
              }
          }
  })

  function addTable(bullet){
    var table =  `<div class="card" style="width: 50rem;">
                    <div class="card-body">
                      <div>
                        <h5 class="card-title">${bullet.bullet} </h5> 
                      </div><br/>
                      <table class="table table-bordered table-dark table-hover" >
                        <thead>
                          <tr class="d-flex">
                            <th class="col" scope="col">charge</th>
                            <th class="col" scope="col">1</th>
                            <th class="col" scope="col">2</th>
                            <th class="col" scope="col">3</th>
                            <th class="col" scope="col">MOA</th>
                            <th class="col-3" scope="col"></th>
                          </tr>
                        </thead>
                        <tbody id="bullet-table-${bullet.pk}">
                      
                        </tbody>
                      </table>
                    </div>
                    <button class="btn btn-sm btn-secondary" onClick="addResult(${bullet.pk})">add data</button> 
                  </div><br/>
                  `
      
    $('#bullet-table').append(table)
    for (var result of bullet.results){
      addRow(result, bullet.pk)
    }

    //$(`#add-data-${bullet.pk}`).on('click', addResult(bullet.pk))
  }

  function addRow(result, bullet_pk){
    //check if theres any velocity data
    if (result.velocity.length > 0){
      velocityrow = ``
      for(var velocity of result.velocity){
        velocitycol = `<td class="col" id="velocity1-${velocity.pk}" contenteditable="true">${velocity.velocity}</td>`
        velocityrow += velocitycol
      }
    }else{
       velocityrow = `
                    <td class="col" id="velocity1-${result.pk}" contenteditable="true">0</td>
                    <td class="col" id="velocity2-${result.pk}" contenteditable="true">0</td>
                    <td class="col" id="velocity3-${result.pk}" contenteditable="true">0</td>
                    `
    }
    //build html row with related data 
    var row =  `
                <tr class="d-flex" scope="row" id="result-row-${result.pk}">
                  <td class="col" id="charge-${result.pk}" contenteditable="true">${result.charge}</td>`
                  +
                  velocityrow
                  +
                  `
                  <td class="col" id="moa-${result.pk}" contenteditable="true">${result.moa}</td>
                  <td class="col-3">
                    
                      <button class="btn btn-sm btn-danger" data-resultid=${result.pk} id="delete-${result.pk}">Delete</button>
                      <button class="btn btn-sm btn-info"  data-resultid=${result.pk} id="save-${result.pk}">Save</button>
                      
                      <button class="btn btn-sm btn-danger hidden" data-resultid=${result.pk} id="cancel-${result.pk}">Cancel</button>
                      <button class="btn btn-sm btn-primary hidden" data-resultid=${result.pk} id="confirm-${result.pk}">Confirm</button>
                    
                  </td>
                </tr>
    `
    $(`#bullet-table-${bullet_pk}`).append(row)

    $(`#delete-${result.pk}`).on('click', deleteResult)
    $(`#save-${result.pk}`).on('click', saveResult)
    $(`#cancel-${result.pk}`).on('click', cancelDeletion)
    $(`#confirm-${result.pk}`).on('click', confirmDeletion)  
  }


  function addResult(bullet_pk){ 
      url = `/api/data-create/${bullet_pk}/`
      fetch(url, {
				method:'POST',
				headers:{
					'Content-type':'application/json',
					'X-CSRFToken':csrftoken,
				},
			}).then(function(response){
				console.log('test create')
			})
  }

  function saveResult(){ 
    //get the rusult id/pk
    var resultid = $(this ).data('resultid')
    //get each td for the row
    temp = []
    $(`#result-row-${resultid} td`).each(function(){
      temp.push($(this).html())
    })
    temp.pop()
    console.log(temp)
    data = {'charge':temp[0] , 'moa':temp[4]}
    console.log(data)
    url = `/api/data-update/${resultid}/`
    fetch(url, {
		  method:'PUT',
				headers:{
					'Content-type':'application/json',
					'X-CSRFToken':csrftoken,
				},
        body:JSON.stringify(data)
			}).then(function(response){
				console.log('test update')
			}) 
    
  }


  function deleteResult(){
    var resultid = $(this).data('resultid')
    
    var deleteBtn = $(`#delete-${resultid}`)
    var saveBtn = $(`#save-${resultid}`)
    var cancelBtn = $(`#cancel-${resultid}`)
    var confirmBtn = $(`#confirm-${resultid}`)

    //toggle button visibilty
    deleteBtn.addClass('hidden')
    saveBtn.addClass('hidden')

    cancelBtn.removeClass('hidden')
    confirmBtn.removeClass('hidden')
  }


  function cancelDeletion(){
    var resultid = $(this).data('resultid')
    
    var deleteBtn = $(`#delete-${resultid}`)
    var saveBtn = $(`#save-${resultid}`)
    var cancelBtn = $(`#cancel-${resultid}`)
    var confirmBtn = $(`#confirm-${resultid}`)

    //toggle button visibilty
    deleteBtn.removeClass('hidden')
    saveBtn.removeClass('hidden')

    cancelBtn.addClass('hidden')
    confirmBtn.addClass('hidden')
  }

  function confirmDeletion(){
    var resultid = $(this).data('resultid')
    var row = $(`#result-row-${resultid}`)
    row.remove()  
    
    //deleteResult(data)
    var url = `/api/data-delete/${resultid}/`
    fetch(url, {
      method:'DELETE',
      headers:{
        'Content-type':'application/json',
        'X-CSRFToken':csrftoken,
      },
    }).then(function(response){
      console.log('test delete')
    })
  }

</script>
{% endblock scripts %}
